html {

    height: 3500px;
}



body {
    width: 100%;
    padding-left: 0px;
    margin-top: 0px;
    margin-left: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Verdana, Arial;
    background: linear-gradient(to right,#69d7db, #456bb3)
}

