html {
    height: 3200px;
    width: auto;
}



body {
    width: 100%;
    padding-left: 0px;
    margin-top: 0px;
    margin-left: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Verdana, Arial;
    background: linear-gradient(to right,#69d7db, #456bb3);
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 1000px) {
    html {
        height: 2000px;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        
    }
}
